%% vim: set filetype=erlang : -*- erlang -*-

{erl_opts, [
            warnings_as_errors,
            warn_export_all,
            warn_untyped_record
           ]}.

{xref_checks, [
               fail_on_warning,
               undefined_function_calls
              ]}.

{cover_enabled, true}.

{validate_app_modules, true}.

{plugins, [rebar3_git_vsn]}.

{provider_hooks, [{post, [{compile, git_vsn}]}]}.
{git_vsn, [{env_key, git_vsn},
           {describe_opt, "--abbrev=10"}]}.

{escript_name, erlup}.
{escript_incl_apps, [rebar]}.
{escript_comment, "%% https://github.com/soranoba/erlup \n"}.

{profiles,
 [{escript,
   [
    {deps,      [{rebar, {git, "git://github.com/erlang/rebar3", {tag, "3.1.0"}}}]},
    {erl_opts,  [no_debug_info]},
    {overrides, [{add, [{erl_opts, [no_debug_info]}]}]}
   ]},
  {test,
   [
    {erl_opts,  [export_all]}
   ]}
 ]}.
