%% vim: set filetype=erlang : -*- erlang -*-

{erl_opts, [
            warnings_as_errors,
            warn_export_all
           ]}.

{xref_checks, [
               fail_on_warning,
               undefined_function_calls
              ]}.

{cover_enabled, true}.
{validate_app_modules, true}.
{ct_opts, [{dir, "ct"}]}.
{erlc_compiler, [{recursive, false}]}.

%% plugins

{plugins, [{rebar3_git_vsn, "1.1.0"}]}.

{provider_hooks, [{post, [{compile, git_vsn}]}]}.
{git_vsn, [{env_key, git_vsn},
           {describe_opt, "--tags --abbrev=10"},
           {separate, true}]}.

%% escript
{escript_name, erlup}.
{escript_incl_apps, [rebar]}.
{escript_comment, "%% https://github.com/soranoba/erlup \n"}.

{profiles,
 [{escript,
   [
    {deps,      [{rebar, {git, "git://github.com/erlang/rebar3", {ref, "f957b5a8"}}}]},
    {erl_opts,  [no_debug_info]},
    {overrides, [{add, [{erl_opts, [no_debug_info]}]}]}
   ]},
  {test,
   [
    {erl_opts,  [export_all]}
   ]}
 ]}.
